<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Create or Join Group
        </title>
    </head>
    <body>
        <form action="/grouphome/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="create"/>
            <input type="submit" name="Create Group" value="Create Group"/>
        </form>
        <form action="/grouphome/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="join"/>
            <input type="input" name="session_join"/>
            <input type="submit" name="Join Group" value="Join Group"/>
        </form>
    </body>
</html>