<!DOCTYPE html>
<html lang="en">
    <head>
        
    </head>
    <body>
        <form action="/preference/" method="post" enctype="multipart/form-data">
            Option 1
            <select name="option1">
                <option value="Japanese">Japanese</option>
                <option value="Korean">Korean</option>
                <option value="Mexican">Mexican</option>
                <option value="Italian">Italian</option>
                <option value="Chinese">Chinese</option>
                <option value="Indian">Indian</option>
                <option value="Pizza">Pizza</option>
                <option value="Steak">Steak</option>
            </select><br>
            Option 2
            <select name="option2">
                <option value="Japanese">Japanese</option>
                <option value="Korean">Korean</option>
                <option value="Mexican">Mexican</option>
                <option value="Italian">Italian</option>
                <option value="Chinese">Chinese</option>
                <option value="Indian">Indian</option>
                <option value="Pizza">Pizza</option>
                <option value="Steak">Steak</option>
            </select><br>
            Option 3
            <select name="option3">
                <option value="Japanese">Japanese</option>
                <option value="Korean">Korean</option>
                <option value="Mexican">Mexican</option>
                <option value="Italian">Italian</option>
                <option value="Chinese">Chinese</option>
                <option value="Indian">Indian</option>
                <option value="Pizza">Pizza</option>
                <option value="Steak">Steak</option>
            </select><br>
            <input type="submit" name="submit" value="submit"/>
        </form>
    </body>
</html>